body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

/* ------------------------------------------ Cabeçalho ------------------------------------- */
  
  .Cabeçalho {
    background-color: rgb(0, 0, 65);
    color: white;
    padding: 20px;
    text-align: center;
  }

  .img {
    text-align: left;
  }
  
  h1 {
    margin-top: 10px;
  }

/* ------------------------------------------ Sobre mim -------------------------------------- */

  .Sobre {
    text-align: center;
    padding: 20px;
    margin-top: 0;
  }
  
/* ----------------------------------------- Informações ------------------------------------- */

  .info {
    padding: 20px;
    margin-top: 0;
  }
  
/* -------------------------------------------- Rodape ----------------------------------------*/
  
  .footer {
    background-color: rgb(0, 0, 65);
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  